    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    body{
        background-color: #FFFFFF;
        margin: 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
    }
    *{
        font-family: "Inter", sans-serif;
    }

    @keyframes scale-in-hor-left {
        0% {
        transform: scaleX(0);
        transform-origin: 0% 0%;
        opacity: 1;
        }
        100% {
        transform: scaleX(1);
        transform-origin: 0% 0%;
        opacity: 1;
        }
    }
    

    .Hero{
        width: 100%;
        height: 70vh;
        color: rgb(255, 255, 255);
    }
    .Hero div{
        display: flex;
        z-index: 1;
    }
    .fundo{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;
        height: 60vh;
        object-fit: cover;
        filter: brightness(20%);
    }
    .textHero h1{
    z-index: 2;
    }
    .textHero p{
    z-index: 2;
    }
    .Hero .navbar{
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .Hero .navbar img{
        width: 50px;
        z-index: 1;
    }
    .Hero .navbar img:last-child{
        width: 30px;
    }
    .Hero .textHero{
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-top: 20vh;
        z-index: 1;
    }
    .Hero .sair{
        align-items: center;

    }
    .Hero .sair p{
        margin-right: 15px;
    }

    .Marcas .marcasText{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .dispProdutos .marcasText{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .Titulos{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .Marcas .marcasText small{
        margin-left: 20px;
    }

    .MarcasCard{
        display: flex;
        flex-wrap: nowrap;
        margin: 20px;
        overflow-y: auto;
    }
    .Titulos small{
        margin-left: 20px;
    }
    .MarcasCard .Card{
        display: flex;
        flex-direction: column;
        background-color: #1E1E1E;
        color: white;
        margin: 5px;
        padding: 30px;
        width: auto;
        height: 350px;
        position: relative;
        overflow: hidden;
        min-width: 70px;
        transition: 0.1s all linear;
    }
    .Card .cardFundo{
    display: block;
    position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        object-fit: cover;
        z-index: 0; 
        opacity: 0.5;

    }
    .Card .logo{
        width: 30px;
        height: auto;
        position: relative;
        z-index: 1;
    }
    .Card h1{
        font-size: 32px;
        font-weight: 600;
        margin-top: 50px;

        position: relative;
        z-index: 1;
        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .Card p{
        white-space: nowrap;
        position: relative;
        z-index: 1;
        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
    .Card button{
        border: 0;
        background-color: #D9D9D9;
        color: black;
        display: flex;
        width: auto;
        font-size: 1rem;
        font-weight: 500;
        font-family: "Inter", sans-serif;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        padding: 10px;
        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
    .Card .inv{
        display: none;
    }

    .Card:hover .inv{
        display: block;
        width: 500px;

    }
    .Card:hover .Card{
        width: 500px;

    }
    @media (max-width: 767px) {
        .MarcasCard .Card {
            width: auto; /* Ajuste conforme necessário */
            min-width: 70px; /* Ajuste conforme necessário */
        }

        /* Estilos específicos para o hover no card em telas menores */
        .MarcasCard .Card:hover {
            width: auto; /* Ajuste conforme necessário */
            min-width: 300px; /* Ajuste conforme necessário */
        }
    }

    .cardProduct{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .CardP{
        width: 300px;
        padding: 20px;
            margin: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1E1E1E;
        color: white;
        transition: 0.1s all linear;
    }
    .CardP img{
        width: auto;
        max-width: 300px;
        box-shadow: 0px 0px 5px solid rgba(0, 0, 0, 0.192);
        border-radius: 5px;
    }
    .CardP:hover{
        transform: scale(1.03);
    }
    .numbers{
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .num{
        padding: 3px;
        border-bottom: 3px solid white;
        margin-right: 10px;
    }
    .num1{
        padding: 3px;
        margin-right: 10px;
    }

    .color-indicator{
        padding: 15px;
        margin: 10px;
        border-radius: 50%;
        border: 2px solid white ;
    }

    .cor-vermelho {
        background-color: rgb(96, 10, 10); /* Vermelho */
      }
      
      .cor-azul {
        background-color: rgb(17, 17, 91); /* Azul */
      }
      
      .cor-verde {
        background-color: rgb(13, 83, 13); /* Verde */
      }
      
      .cor-preto {
        background-color: black; /* Verde */
      }
      .price{
        font-weight: 400;
      }

      .buttonsCard{
        display: flex;
      }
      .buttonsCard button{
        margin: 5px;
        border: 0px ;
        color: #1E1E1E;
        padding: 10px 35px;
        border-radius: 5px;
        width: auto;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
      .buttonsCard button:first-child{
        background-color: #5D8BFF;
      }
      .buttonsCard button:last-child{
        background-color: #FF3636;
      }

      .Cadastrar{
        font-family: "Inter", sans-serif;
        margin: 15px;
        border: 0px ;
        color: white;
        padding: 0px 30px;
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        background-color: #1ACC36;
        font-weight: 
        700;
        display: flex;
        align-items: center;
      }

      .icone{
        width: 50px;
        margin: 30px;
      }
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .CadastroI{
        display: flex;
        align-items: center;
      }
      .CadastroI input{
        border: 1px solid #1E1E1E;
        border-radius: 10px;
        padding: 5px;
      }
      .CadastroI p{
        width: 300px;
      }
      #botaoCadastro{
        margin: 15px;
        border: 0px ;
        color: #1E1E1E;
        padding: 10px 55px;
        border-radius: 5px;
        width: auto;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        background-color: #5D8BFF;
      }

      .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: #480ca8;
    }
    
    .formLogin {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 7px;
        padding: 40px;
        box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
        gap: 5px
    }
    
    .areaLogin img {
        width: 420px;
    }
    
    .formLogin h1 {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 2.3em;
    }
    
    .formLogin p {
        display: inline-block;
        font-size: 14px;
        color: #666;
        margin-bottom: 25px;
    }
    
    .formLogin input {
        padding: 15px;
        font-size: 14px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        margin-top: 5px;
        border-radius: 4px;
        transition: all linear 160ms;
        outline: none;
    }
    
    
    .formLogin input:focus {
        border: 1px solid #5D8BFF;
    }
    
    .formLogin label {
        font-size: 14px;
        font-weight: 600;
    }
    
    .formLogin a {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 13px;
        color: #555;
        transition: all linear 160ms;
    }
    
    .formLogin a:hover {
        color: #5D8BFF;
    }
    
    .btn {
        background-color: #5D8BFF;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none !important;
        transition: all linear 160ms;
        cursor: pointer;
        margin: 0 !important;
    
    }
    
    .btn:hover {
        transform: scale(1.05);
        background-color: #436fdd;
    
    }